{% extends '_base.html' %}
{% load humanize %}
{%load static%}

{%block content%}
<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Job Detail</h1>
        <nav aria-label="breadcrumb">
            
        </nav>
    </div>
</div>
<!-- Header End -->


<!-- Job Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    {% if job.gender == "Male"%}
                    <img class="flex-shrink-0 img-fluid border rounded" src="{% static 'male.png' %}" alt="" style="width: 80px; height: 80px;">
                    {%else%}
                    <img class="flex-shrink-0 img-fluid border rounded" src="{% static 'female.png' %}" alt="" style="width: 80px; height: 80px;">
                    {%endif%}
                    <div class="text-start ps-4">
                        <h3>{{job.title}}
                            {% if job.status == "Available"%}
                            <span class="badge badge-success">{{job.status}}</span></h3>
                            {% elif job.status == "NotAvailable"%}
                            <span class="badge badge-danger">{{job.status}}</span></h3>

                            {%else%}
                            <span class="badge badge-warning">{{job.status}}</span>
                            <span class="badge badge-success">Can Apply</span>
                            {%endif%}
                        </h3>
                            
                           
                        
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{job.location}}</span>
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Class: {{job.sclass}}</span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>Salary: {{job.salary}}</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>
                   {{job.overview|safe}}
                </div>

                <div class="">
                    <h4 class="mb-4">Apply For The Job</h4>
                    <form method="POST", action="/aplications/{{job.id}}">
                        {% csrf_token %}

                        
                        {% if applied == 'yes'%}

                        <div class="row g-3">
                            <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                                <h4 class="mb-4">Assalamuwalaikum😊</h4>
                                <p>You have already applied to this job. Please wait while we review your CV. </p>
                                <p>If you are eligible for this job we will phone you soon.</p>
                                <p>Thanks for bing with us_</p>
                               
                                
                                
                            </div>
                        </div>


                       

                        {% elif job.status == "Available" or job.status == "Pending" and applied == 'no'%}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="firstname" class="form-control" placeholder="First Name">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" name="lastname" class="form-control" placeholder="Last name">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" name="phone" class="form-control" placeholder="Phone Number">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" name="uni" class="form-control" placeholder="University/College">
                            </div>
                           
                            <div class="col-12">
                                <textarea class="form-control"name="cover" rows="5" placeholder="Write a short CV"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Apply Now</button>
                            </div>

                            {%elif job.status == 'NotAvailable'%}
                      
                            <div class="row g-3">
                                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                                    <h4 class="mb-4">Assalamuwalaikum😊</h4>
                                    <p>You can't apply for this job as it's already taken by a responsible teacher.</p>
                                    <p>But you can always let us now your details so that we can reach when there is similer job for you.</p>
                                    <p>Write about you in the form bellow_</p>
                                   
                                    
                                    
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" name="firstname" class="form-control" placeholder="First Name">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" name="lastname" class="form-control" placeholder="Last name">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" name="phone" class="form-control" placeholder="Phone Number">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" name="uni" class="form-control" placeholder="University/College">
                                </div>
                               
                                <div class="col-12">
                                    <textarea class="form-control"name="cover" rows="5" placeholder="Write a short CV"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Submit Your Info</button>
                                </div>

                                {%else%}
                                <div class="row g-3">
                                    <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                                        <h4 class="mb-4">Ops...</h4>
                                        
                                        <p>Something went wrong!</p>
                                       
                                        
                                        
                                    </div>
                                </div>
                                {%endif%}
                        </div>
                       
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Student Info</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: {{job.date|naturaltime}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Class: {{job.sclass}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Version: {{job.Vtype}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Section: {{job.section}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Gender: {{job.gender}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Level: {{job.category}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: {{job.salary}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Location: {{job.location}}</p>
                    
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Teacher Must Be</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>University Type: {{job.uni}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Department: {{job.teacherdpt}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Gender: {{job.teachergender}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>From: {{job.teacherback}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->

{%endblock content%}